/* Main Body */

body {
    text-align: center;
    background: linear-gradient(#4c1ac9, #9198e5);
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .game-window{
      min-height: 100rem;
      padding-top: 5rem;

  }
  
  .map-rows{
    min-height: 5rem;
    padding: 10rem;
  }

  /* Moving Character */
  
  .char-pic{
    border-radius: 10px;
    width: 100px;
    animation-name: char-move;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20rem auto;
    z-index: 1;

  }

  
  @keyframes char-move {
   0% {
     transform: rotate(-3deg);
     width: 100px;
   }
   25% {
     transform: rotate(-1deg);
     width: 103px;
   }
   75% {
    transform: rotate(3deg);
    width: 98px;
  }
   100% {
    transform: rotate(0deg);
    width: 100px;
  }
  }
  
  
  /* Intro Container */
  
  .container-fluid {
    padding: 30px 30px;
  }
  
  
  .intro-row {
    height: 12rem;
  }
  
  
  .logo {
    margin-top: 7rem;
    width: 60%;
    height: 150%;
  }
  
  /* Navbar */
  
  .navbar {
    transition: all 0.4s;
  
  }
  
  .navbar .nav-link {
    color: #fff;
    
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #fff;
    text-decoration: underline;
    animation-name: nav-link-fade;
    animation-duration: 0.4s;
  }
  
  @keyframes nav-link-fade {
    0% {
      font-size: inherit;
      transform: rotate(-10deg);
    }
  
    50% {
      font-size: 1.2rem;
      transform: rotate(10deg);
    }
  
    100% {
      font-size: inherit;
      transform: rotate(5deg);
  
    }
  }
  
  .navbar .navbar-brand {
    color: #fff;
  }
  
  
  /* Change navbar styling on scroll */
  .navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .navbar.active .nav-link {
    color: #555;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #555;
  }
  
  
  /* Change navbar styling on small viewports */
  @media (max-width: 991.98px) {
    .navbar {
      background: #fff;
    }
  
    .navbar .navbar-brand,
    .navbar .nav-link {
      color: #555;
    }
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    margin: 0 auto auto 2rem;
    /* text-shadow: 3px 0 #a7c1eb; */
  }
  
  
  
  

  
  .nav-icon{
    animation-name: threeD;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 100%;
  }
  
  @keyframes threeD {
    from{
      transform: rotate3d(0);
    }
    to{
      transform: rotate3d(1, 1, 1, 360deg);
    }
  }
  
  